.Weather {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  padding: 16px;
  border-radius: 4px;
  align-items: center;
  margin: auto;
}

.Weather h1 {
  font-size: 24px;
  margin: 20px 0 0 0;
  font-weight: 100;
  line-height: 29px;
}
.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}
.Weather .temperature {
  font-weight: bold;
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
  display: inline;
}
.Weather canvas {
  margin-right: 5px;
  display: inline-block;
  margin-top: 5px;
}
.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
  margin-left: 0px;
}
.clearfix {
  display: flex;
  align-items: center;
}
.form-control:focus {
  border-color: #000000; /* Change the border color */
  box-shadow: 0 0 5px #000000 (0, 123, 255, 0.7); /* Add a glow effect */
}
.btn {
  background-color: #0b5ed7;
  color: #fff;
  font-size: 1rem;
  margin: auto;
  font-size: 16px; /* Text size */
  width: auto; /* Default width */
}
.btn:hover {
  background-color: #0b5ed7;
  color: #000000;
}
/*Mobile view*/
@media (max-width: 375px) {
  .Weather .col-9 {
    width: 70%;
    padding-right: 5px;
  }
  .Weather .col-3 {
    width: 30%;
    padding-left: 5px;
  }
  .form-control {
    font-size: 14px;
    padding: 6px;
  }

  .btn {
    font-size: 14px;
    padding: 6px 10px;
  }
  .Weather {
    padding: 8px;
    border-radius: 2px;
    margin: 0 15px;
  }
}
