.Weather {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  padding: 16px;
  border-radius: 4px;
}
.Weather h1 {
  font-size: 24px;
  margin: 20px 0 0 0;
  font-weight: 100;
  line-height: 29px;
}
.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}
.Weather .temperature {
  font-weight: bold;
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
  display: inline;
}
.Weather canvas {
  margin-right: 5px;
  display: inline-block;
  margin-top: 5px;
}
.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
  margin-left: 0px;
}
.clearfix {
  display: flex;
  align-items: center;
}
.form-control:focus {
  border-color: #000000; /* Change the border color */
  box-shadow: 0 0 5px #000000 (0, 123, 255, 0.7); /* Add a glow effect */
}
